* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 100%;
}

.header-container {
  width: 100%;
  padding: 15px;
  background-color: grey;
  overflow:hidden;
  position: fixed;
  z-index: 100;
}

#chart_div {
  width: 400px; 
  height: 300px;
  float: left;
}

#user_queries {
  width: 40%;
  float: left;
  margin-left: 50px;
}
.query-card {
  width: 100%;
  clear: both;
  padding-top: 10px;
  display: block;
}
.querier {
  width: 50px;
  height: 50px;
  background-color: rgb(15, 11, 11);
  border-radius: 50px;
  position: relative;
  float: left;
}
.querier-name {
  position: absolute;
  top: 13px;
  right: 16px;
  color: white;
}
.query-heading {
  float: left;
  width: 70%;
  margin: 10px;
}

.header-container a.title{
  float: left;
  display: block;
  color: whitesmoke;
  text-decoration: none;
}

.menu-icon {
  float: left; 
  color: white;
  font-size: 25px;
  margin: 3px 10px;
  display: none;
}

.menu-icon:hover {
  cursor: pointer;
}

.header-container a {
  float: right;
  display: block;
  color: whitesmoke;
}

.content-container {
  overflow: hidden;
  width: 100%;
}

.side-bar {
  width: 25%;
  height: 100%;
  background-color: black;
  position: fixed;
  float: left;
  margin-top: 67px;
}

.side-bar ul {
  display: block;
  padding-top: 15px;
}

.side-bar ul li {
  padding: 15px;
}

.side-bar ul li a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  border-bottom: 3px;
}

.page-content {
  float: left;
  width: 70%;
  margin-left: 26%;
  margin-top: 85px;
  transition: all 0.3s
}

#postContent {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

.page-content input[type=file] {
  border: 1px solid gray;
  color: gray;
  background-color: whitesmoke;
  padding: 5px 3px;
  border-radius: 8px;
  font-weight: bold;
  margin: 10px 0;
}

@media (max-width: 1050px) {
  #user_queries {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 950px) {
  .query-card {
    width: 100%;
  }
  .query-heading {
    width: 80%;
  }
}

@media (max-width: 720px) {
  .page-content {
    margin-top: 80px;
    margin-left: 40px;
    width: 85%;
  }
  .side-bar {
    width: 250px;
    left: -250;
  }
  .menu-icon {
    display: block;
  }

  #user_queries {
    width: 90%;
    margin: auto;
  }
  .query-card {
    width: 100%;
  }
  .query-heading {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .query-heading {
    width: 70%;
  }
}