* {
  margin: 0;
  padding: 0;
}
.card-container {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  width: 60%;
  margin: 20px auto;
  padding: 20px;
}
.card-container .form .row{
  margin: 0 20px;
}