body {
  padding-top: 54px;
}
.text-white {
  color: #fff!important;
}
.text-center {
  text-align: center!important;
}
.m-0 {
  margin: 0!important;
}
.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}
.bg-dark {
  background-color: #343a40!important;
}




@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}