extends admin-layout

block content
  .page-content
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript").
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var chartData = [
          ['Time', 'Queries'],
          ['2015',  30],
          ['2016',  100],
          ['2017',  35],
        ];
        var data = JSON.parse('!{JSON.stringify(stats)}');

        for (var i = 0; i < data.length; i++) {
          chartData.push([""+data[i].year, data[i].total]);
        }

        var data = google.visualization.arrayToDataTable(chartData);

        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

    #chart_div
    #user_queries
      each query in queries
        .query-card
          .querier
            .querier-name= query.name
          .query-heading
            a(href="#" style="text-decoration: none; color: black")= query.title