doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/userpage.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='/user/signin') Radon Login Page
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #topBar.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/') Home


    



    block content
      .page-container
        .side-bar1
          .heading
            h1.text-secondary Radon
          .content
            ul
              li
                h4 See top researches
              li
                h4 Start discussions with other members
              li
                h4 Give suggestion about researches
        .side-bar2
          .container
            .logo-container
              .logo 
                h6 Radon
            form(method='POST' action='/user/acount_signin' class='form')
              div.form-group
                //- label(for='name') Name:
                input#name.form-control(type='text' placeholder='Username' name='name' require)
              div.form-group
                //- label(for='pw') Password:
                input#pw.form-control(type='password' name='password' placeholder='Password' require)
              .row
                button.btn.btn-primary(type='submit') Sign in
                span or
                a(href="/user/signup") Sign up

    footer.py-2.bg-dark.fixed-bottom
      .container
        p.m-0.text-center.text-white Copyright © Radon 2018    


    script(src='/bootstrap/js/bootstrap.min.js')